# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# shortcut file for "npm run dev" (im lazy)
run.bat

# generated jsons (would be too much space)
# there should be e better way to include them in source
# cus how will github pages guess
src/content/api-docs/*